.container{
    background-color: "yellow";
    width: 60%;
    margin-top:50px;
    border: 1px solid black;
    border-radius: 10px;
    border-width: 2.5px;
    margin-bottom: 5px;
    margin-top: 10px;
    
}
h3{
    text-align: center;
    padding-top: 10px;
}
.row:nth-child(1){
    background-color: aqua;
    color: black;
}
.btn{
    justify-content: center;
    padding: 10px;
}

